@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";


@theme {
    --color-primary: #045707;
    --color-secondary: #049f09;
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Josefin Sans', sans-serif;

    
    /* --color-light-bg: #f1f1f1;
    --color-light: #fff;
    --color-dark: #3f3f3f;
    --color-dark-bg: #242424; */
}

* {
    transition: all 0.5s ease-in-out;
    scroll-behavior: smooth;
}

@keyframes header {
    0% {
        opacity: 0;
        translate: 0 -100px;
    }
    100% {
        opacity: 1;
        translate: 0 0;
    }
}
@keyframes mainFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

  /* Custom Animation Class */
.animate-fade-in {
    animation: fadeIn 1s ease-in-out;
}
.animate-fade-in-main {
    animation: mainFadeIn 1s ease-in-out;
}
.animate-fade-in-project {
    animation: mainFadeIn .5s ease-in-out;
}
.animate-header {
    animation: header .7s ease-in-out;
}